html, body {
    height: 100%;
}

body {
    background-color: #1B2E41;
    padding: 80px 0px 0px 0px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #EAC858;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.2em;
}

h2 {
    color: #EAC858;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.8em;
    letter-spacing: 0.09em;
}

h3 {
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 15px;
}

p {
    color: #AAB9C8;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 2.2em;
    letter-spacing: 0.09em;
}

li {
    color: #AAB9C8;
    list-style-position: inside;
    text-align: left;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 2.2em;
    letter-spacing: 0.09em;
}

a {
    color: #F89033
}

.container.content {
    flex: 1 0 auto;
}

footer {
    margin-top: 100px;
    flex-shrink: 0;
}

.btn {
    color: #EAC858;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: 12px 24px 12px 24px;
}

.btn-outline-primary {
    border-color: #F89033;
    color: #F89033;
}

.row-img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}

.navbar li {
    vertical-align: middle;
    text-align: center;
}

@media (min-width: 575px) {
    .navbar .navbar-collapse {
        display: inline-block;
        text-align: center;
        justify-content: center;
    }
}
